.container {
  margin: 0 auto;
  background-color: #050A24;
  width: 100%;
  height: 100vh;
}

.title {
  color: var(--color-baltic-blue);
  font-family: var(--font-display);
}

.description {
  color: var(--color-graphite);
}